/*
PMLPP - A POP3 mail "peeker" for OS/2<tm>.
Copyright (C) 1997 James R. Louvau

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.

You may contact the author of PMLPP at:

E-mail	  : jim@vwm.com
Snail-mail : Jim Louvau
	3437 335th St.
	West Des Moines, IA 50266
*/

/* OS/2 2.x Resource Script File - Created by Prominare Designer */

#define INCL_WINSYS
#define INCL_WINBIDI
#define INCL_WINSTDDLGS
#define INCL_WINSTDSPIN
#define INCL_NLS
#define INCL_SW

#include <os2.h>

#include "controls.h"

ICON        DLG_PMLPP "main.ico"
ICON        ICO_MAIL  "mail.ico"

DLGTEMPLATE DLG_PMLPP
BEGIN
   DIALOG "PMLPP", DLG_PMLPP, 18, 51, 29, 25, FS_NOBYTEALIGN | FS_DLGBORDER, FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_AUTOICON | FCF_TASKLIST
   PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
   PRESPARAMS PP_USER, "10.System Proportional"
   BEGIN
      CONTROL "#1",                  PB_REFRESH, 0, 10, 29, 24, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | BS_ICON | BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
      CONTROL "--",                  ST_STATUS, 0, 0, 29, 9, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_GROUP | WS_VISIBLE
         PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_BLACK
         PRESPARAMS PP_BACKGROUNDCOLORINDEX, CLR_PALEGRAY
         PRESPARAMS PP_FONTNAMESIZE, "10.Helv"
   END
END

DLGTEMPLATE DLG_CONFIGURE
BEGIN
   DIALOG "Properties", DLG_CONFIGURE, 4, 41, 160, 144, FS_NOBYTEALIGN | FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS | WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU
   PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_DARKBLUE
   PRESPARAMS PP_BACKGROUNDCOLORINDEX, CLR_PALEGRAY
   PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
   PRESPARAMS PP_USER, "10.System Proportional"
   BEGIN
      CONTROL "~OK",                 DID_OK, 3, 3, 38, 12, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_GROUP | WS_TABSTOP | WS_VISIBLE
         PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_DARKGREEN
      CONTROL "~Cancel",             DID_CANCEL, 44, 3, 38, 12, WC_BUTTON, BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
         PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_RED
      CONTROL "~Help",               PB_HELP, 84, 3, 38, 12, WC_BUTTON, BS_PUSHBUTTON | BS_HELP | WS_TABSTOP | WS_VISIBLE
         PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_DARKBLUE
      CONTROL "",                    NB_CONFIGURE, 3, 17, 154, 123, WC_NOTEBOOK, BKS_BACKPAGESTR | BKS_MAJORTABTOP | BKS_TABBEDDIALOG | WS_TABSTOP | WS_VISIBLE
         PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
   END
END

DLGTEMPLATE NBKP_OPTIONS
BEGIN
   DIALOG "Options", NBKP_OPTIONS, 0, 0, 136, 86, FS_NOBYTEALIGN | NOT FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS
   PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
   PRESPARAMS PP_USER, "10.System Proportional"
   BEGIN
      CONTROL "~Play sound",         CB_PLAYSOUND, 3, 3, 47, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | WS_VISIBLE
   END
END

DLGTEMPLATE NBKP_POLLING
BEGIN
   DIALOG "Polling", NBKP_POLLING, 0, 0, 136, 86, FS_NOBYTEALIGN | NOT FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS
   PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
   PRESPARAMS PP_USER, "10.System Proportional"
   BEGIN
      CONTROL "",                    SPB_INTERVAL, 3, 3, 37, 8, WC_SPINBUTTON, SPBS_MASTER | SPBS_JUSTRIGHT | SPBS_NUMERICONLY | SPBS_FASTSPIN | WS_TABSTOP | WS_VISIBLE
      CONTROL "Seconds",             ST_MINUTES, 43, 3, 32, 8, WC_STATIC, SS_TEXT | WS_VISIBLE
   END
END

DLGTEMPLATE NBKP_SERVER
BEGIN
   DIALOG "Server", NBKP_SERVER, 2, 29, 136, 86, FS_NOBYTEALIGN | NOT FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS
   PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
   PRESPARAMS PP_USER, "10.System Proportional"
   BEGIN
      CONTROL "Server:",             ST_SERVER, 3, 72, 33, 8, WC_STATIC, SS_TEXT | WS_VISIBLE
      CONTROL "",                    EF_SERVER, 42, 73, 80, 6, WC_ENTRYFIELD, ES_AUTOSCROLL | ES_MARGIN | ES_SBCS | ES_DBCS | ES_MIXED | WS_TABSTOP | WS_VISIBLE
         CTLDATA 8, 32, 0, 0
      CONTROL "~Force I.P.",         CB_FORCEIP, 3, 60, 63, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | WS_VISIBLE
      CONTROL "~APOP",               CB_APOP, 3, 48, 63, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | WS_VISIBLE
      CONTROL "Port:",               ST_PORT, 3, 36, 33, 8, WC_STATIC, SS_TEXT | WS_VISIBLE
      CONTROL "",                    EF_PORT, 42, 37, 80, 6, WC_ENTRYFIELD, ES_MARGIN | ES_SBCS | ES_DBCS | ES_MIXED | WS_TABSTOP | WS_VISIBLE
         CTLDATA 8, 5, 0, 0
      CONTROL "User:",               ST_USER, 3, 25, 33, 8, WC_STATIC, SS_TEXT | WS_VISIBLE
      CONTROL "",                    EF_USER, 42, 26, 80, 6, WC_ENTRYFIELD, ES_AUTOSCROLL | ES_MARGIN | ES_SBCS | ES_DBCS | ES_MIXED | WS_TABSTOP | WS_VISIBLE
         CTLDATA 8, 32, 0, 0
      CONTROL "Password:",           ST_PASSWORD, 3, 14, 33, 8, WC_STATIC, SS_TEXT | WS_VISIBLE
      CONTROL "",                    EF_PASSWORD, 42, 15, 80, 6, WC_ENTRYFIELD, ES_AUTOSCROLL | ES_MARGIN | ES_UNREADABLE | ES_SBCS | ES_DBCS | ES_MIXED | WS_TABSTOP | WS_VISIBLE
         CTLDATA 8, 32, 0, 0
      CONTROL "~Save password",      CB_SAVEPASSWORD, 3, 3, 67, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | WS_VISIBLE
         CTLDATA 6, 1, 0
   END
END

DLGTEMPLATE NBKP_MAILER
BEGIN
   DIALOG "Mailer", NBKP_MAILER, 0, 0, 136, 86, FS_NOBYTEALIGN | NOT FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS
   PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
   PRESPARAMS PP_USER, "10.System Proportional"
   BEGIN
      CONTROL "Program:",            ST_PROGRAM, 4, 25, 33, 8, WC_STATIC, SS_TEXT | WS_VISIBLE
      CONTROL "",                    EF_PROGRAM, 42, 27, 81, 6, WC_ENTRYFIELD, ES_AUTOSCROLL | ES_MARGIN | ES_SBCS | ES_DBCS | ES_MIXED | WS_TABSTOP | WS_VISIBLE
         CTLDATA 8, 255, 0, 0
      CONTROL "Options:",            ST_OPTIONS, 4, 14, 33, 8, WC_STATIC, SS_TEXT | WS_VISIBLE
      CONTROL "",                    EF_OPTIONS, 42, 15, 81, 6, WC_ENTRYFIELD, ES_AUTOSCROLL | ES_MARGIN | ES_SBCS | ES_DBCS | ES_MIXED | WS_TABSTOP | WS_VISIBLE
         CTLDATA 8, 255, 0, 0
      CONTROL "Directory:",          ST_DIRECTORY, 4, 3, 33, 8, WC_STATIC, SS_TEXT | WS_VISIBLE
      CONTROL "",                    EF_DIRECTORY, 42, 4, 81, 6, WC_ENTRYFIELD, ES_AUTOSCROLL | ES_MARGIN | ES_SBCS | ES_DBCS | ES_MIXED | WS_TABSTOP | WS_VISIBLE
         CTLDATA 8, 255, 0, 0
   END
END

MENU MNU_CONTEXT
BEGIN
   MENUITEM "R~efresh",               IDM_REFRESH, MIS_TEXT
   MENUITEM "Read mai~l",             IDM_MAILREADER, MIS_TEXT
   MENUITEM "Propertie~s",            IDM_PROPERTIES, MIS_TEXT

   SUBMENU "~Help",                   IDM_HELP, MIS_TEXT
   BEGIN
      MENUITEM "Help ~index",         IDM_HELPINDEX, MIS_TEXT | MIS_HELP
      MENUITEM "~General help\tF1",   IDM_GENERALHELP, MIS_TEXT | MIS_HELP
      MENUITEM "~Using help",         IDM_USINGHELP, MIS_TEXT | MIS_HELP
      MENUITEM SEPARATOR
      MENUITEM "~About...",           IDM_ABOUTPMLPP, MIS_TEXT | MIS_HELP
   END
   MENUITEM SEPARATOR
   MENUITEM "~Move\tAlt+F7",          SC_MOVE, MIS_TEXT | MIS_SYSCOMMAND
   MENUITEM "Mi~nimize\tAlt+F9",      SC_MINIMIZE, MIS_TEXT | MIS_SYSCOMMAND
   MENUITEM SEPARATOR
   MENUITEM "~Close\tAlt+F4",         SC_CLOSE, MIS_TEXT | MIS_SYSCOMMAND
   MENUITEM SEPARATOR
   MENUITEM "Window lis~t\tCtrl+Esc", SC_TASKMANAGER, MIS_TEXT | MIS_SYSCOMMAND
END

DLGTEMPLATE DLG_ABOUT
BEGIN
   DIALOG "About", DLG_ABOUT, 6, 35, 205, 71, FS_NOBYTEALIGN | FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU
   PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_DARKBLUE
   PRESPARAMS PP_BACKGROUNDCOLORINDEX, CLR_PALEGRAY
   PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
   PRESPARAMS PP_USER, "10.System Proportional"
   BEGIN
      CONTROL "",                    -1, 5, 21, 194, 47, WC_STATIC, SS_GROUPBOX | WS_VISIBLE
      CONTROL "OK",                  DID_OK, 5, 3, 21, 16, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_GROUP | WS_TABSTOP | WS_VISIBLE
      CONTROL DID_OK,                DID_OK, 23, 45, 21, 16, WC_STATIC, SS_ICON | WS_GROUP | WS_VISIBLE
      CONTROL "PMLPP - Little Pop Peek for PM", -1, 53, 52, 135, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_GROUP | WS_VISIBLE
      CONTROL "Version 2.20\01129 Aug 1997", -1, 53, 41, 135, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_GROUP | WS_VISIBLE
      CONTROL "(C) Copyright 1997 by J. R. Louvau - All rights reserved", -1, 9, 27, 185, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_GROUP | WS_VISIBLE
   END
END

HELPTABLE DLG_PMLPP
BEGIN
   HELPITEM DLG_PMLPP,	    DLG_PMLPP,	   DLG_PMLPP
   HELPITEM DLG_CONFIGURE,     DLG_CONFIGURE,	 DLG_CONFIGURE
END

HELPSUBTABLE DLG_CONFIGURE
SUBITEMSIZE 2
BEGIN
   HELPSUBITEM CB_PLAYSOUND,       CB_PLAYSOUND
   HELPSUBITEM SPB_INTERVAL,       SPB_INTERVAL
   HELPSUBITEM EF_SERVER,          EF_SERVER
   HELPSUBITEM EF_PORT,            EF_PORT
   HELPSUBITEM EF_USER,            EF_USER
   HELPSUBITEM EF_PASSWORD,        EF_PASSWORD
   HELPSUBITEM EF_PROGRAM,         EF_PROGRAM
   HELPSUBITEM EF_OPTIONS,         EF_OPTIONS
   HELPSUBITEM EF_DIRECTORY,       EF_DIRECTORY
   HELPSUBITEM CB_SAVEPASSWORD,    CB_SAVEPASSWORD
   HELPSUBITEM CB_FORCEIP,         CB_FORCEIP
   HELPSUBITEM CB_APOP,            CB_APOP
END

HELPSUBTABLE DLG_PMLPP
SUBITEMSIZE 2
BEGIN
   HELPSUBITEM PB_REFRESH,         PB_REFRESH
END

DLGTEMPLATE DLG_PASSWORD
BEGIN
   DIALOG "Password", DLG_PASSWORD, 6, 28, 148, 31, FS_NOBYTEALIGN | FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS | WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU
   PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
   PRESPARAMS PP_USER, "10.System Proportional"
   BEGIN
      CONTROL "Password:",           ST_PASSWORD, 5, 18, 33, 8, WC_STATIC, SS_TEXT | WS_GROUP | WS_VISIBLE
      CONTROL "",                    EF_PASSWORD, 45, 19, 95, 6, WC_ENTRYFIELD, ES_AUTOSCROLL | ES_MARGIN | ES_UNREADABLE | ES_SBCS | ES_DBCS | ES_MIXED | WS_TABSTOP | WS_VISIBLE
         CTLDATA 8, 32, 0, 0
      CONTROL "OK",                  DID_OK, 3, 3, 38, 12, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_GROUP | WS_TABSTOP | WS_VISIBLE
      CONTROL "Help",                PB_HELP, 45, 3, 38, 12, WC_BUTTON, BS_PUSHBUTTON | BS_HELP | BS_NOPOINTERFOCUS | WS_TABSTOP | WS_VISIBLE
   END
END


